html > body {
  font-family: Arial;
  --page-bg: #324;
  color: #fff; background: var(--page-bg);
  margin: 0; padding: 1ex;
  overflow-y: hidden;
}

code, pre, textarea { font-size: 1em; font-family: monospace, monospace; }

#side-menu {
  position: absolute; left: 0; top: 0;
  opacity: 0.975; display: flex; flex-direction: column;
}
#menu-handle, #side-links, #right-menu {
  color: #ccc; background: #2d1d3d; border: 0;
}
#menu-handle {
  font-size: 75%; cursor: pointer; opacity: 0.75; border-radius: 1ex 1ex 0 0;
  margin-right: auto;
}
#menu-handle > *, #right-menu button {
  background: none; border: 0; color: #ccc; padding: 1ex; outline: none;
}
#side-links {
  font-size: 80%;
  flex-grow: 1;
  margin: 0; padding: 0.75ex 0; width: 0;
  overflow-x: hidden;
  transition: all 0.4s;
  border-radius: 0% 1ex 1ex 1ex;
}
#side-links.expanded { padding: 0.75ex 1.5ex; width: 100%; }
#side-links > a {
  display: block;
  color: #ccc;
  text-decoration: none;
  outline: none;
  margin: 1ex 0;
}
#side-links > #install { display: none; }
#menu-handle:hover,  #side-links > a:hover,  #right-menu:hover  { background: #452e5c; }
#menu-handle:active, #side-links > a:active, #right-menu:active { background: #573a74; }
#side-links > hr { border-color: #fff4; margin: -0.25ex 0; }

.login-image { height: 2ex; vertical-align: middle; }
#menu-handle > .login-image { height: 4ex; }
.qedit #menu-handle > .login-image { height: 8ex; }

#right-menu {
  display: none; position: absolute; top: 10px; right: 10px;
  opacity: 0.5; border-radius: 8px;
}
#right-menu:hover { opacity: 0.75; }

div.reaction {
  position: fixed; pointer-events: none; z-index: 999;
  background-color: #0000; border: none; opacity: 1; font-size: 0%;
  transition: all 1s cubic-bezier(0.4, 0.15, 0.8, 0.3);
}

.container {
  /* max-width: 1080px; */
  margin: 5px auto;
  text-align: center;
  align-self: center;
}

#buttons {
  /* text-indent: 3em; to avoid side-menu handle */
  margin-top: 3ex;
  overflow-y: hidden;
  transition: height 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#buttons .break { flex-basis: 100%; height: 0; }

.btn, .inp {
  color: #ff8;
  --bg:  #2598;
  --sel: #fd0;
  background: var(--bg);
  filter: brightness(75%);
  transition: filter 0.5s, background 0.5s;
  text-shadow: 0px 0px 8px #000;
  box-shadow: 0px 0px 20px #666;
  text-decoration: none;
  border-radius: 0.5ex;
  padding: 0.5ex; margin: 0.5ex;
  min-height: 3.2ex; min-width: 2em;
  outline: none;
}
textarea.inp.input-mode { --bg: #1926; }
.btn { text-align: center; font-size: 150%; border: 2px outset #fff; }
.btn.confirmed {
  /* border-color: var(--sel); box-shadow: 4px 4px 20px #870; */
  background: radial-gradient(circle at 0.5ex 0.5ex,
                              var(--sel) 3px, #0000 4px),
              var(--bg);
}
.btn.selected {
  background: radial-gradient(circle at 0.5ex 0.5ex,
                              #0000 2px, var(--sel) 4px, #0000 5px),
              var(--bg);
}
.btn.selected.confirmed {
  background: radial-gradient(circle at 0.5ex 0.5ex,
                              var(--sel) 4px, #0000 5px),
              var(--bg);
}
@media only screen and (min-width: 769px) {
  .inp, .btn, #thetext-submit, #thetext-done { font-size: 125%; }
  textarea.inp { font-size: 100%; }
}
textarea.inp { font-size: 80%; }
/* @media only screen and (max-width: 768px) {
  #buttons { flex-direction: row; }
  .btn { min-width: 30vw; }
} */
.inp::placeholder {
  font-style: italic; text-shadow: none; color: #888; font-size: 50%;
}
.qedit .btn, .qedit .inp {
  color: #ff0; --bg: #1358;
}
.btn.op {
  background: #8428; border-color: #af08; box-shadow: 4px 4px 20px #5808;
  font-size: 50%;
}
.btn.fdbk {
  font-size: 200%; font-weight: 900; margin: 2em 0.2ex; background: #13a8;
}
.btn:hover, .inp:hover { filter: brightness(100%); }
.btn:focus, .inp:focus { filter: brightness(100%); }
.btn:focus:hover, .inp:focus:hover { filter: brightness(125%); }
.btn:active { filter: brightness(150%) !important; }

textarea.inp { resize: both; }

#login-container .inp { text-align: center; width: 16em; }
#login-container .inp::placeholder {
  text-align: center; transform-origin: 50% 50%;
}

#thetext-line { margin: 0; width: 20em; }
#thetext-area { margin: 0; width: 40em; height: 20ex; }
#thetext-area.input-mode { height: 40ex; }
#texts {
  position: relative; width: fit-content; margin: auto; white-space: nowrap;
}
       #texts #thetext-line { display: inline-block; }
       #texts #thetext-area { display: none; }
.qedit #texts #thetext-line { display: none; }
.qedit #texts #thetext-area { display: block; }

#thetext-buttons {
  position: absolute; right: 1ex; bottom: 1ex;
}

#thetext-submit, #thetext-done {
  color: #888; background: none; border: 0; filter: brightness(100%);
  cursor: pointer; padding: 0; margin: 0; outline: none;
}
#thetext-done { display: none; }
.qedit #thetext-done { display: inline-block; }

#thetext-rendered {
  position: absolute; width: 100%; height: 100%; left: 0; top: 0;
  background: #135; text-align: left; padding: 1ex; box-sizing: border-box;
  transition: all 1s; opacity: 0; pointer-events: none; text-wrap: wrap;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}
#thetext-rendered.active {
  opacity: 1; pointer-events: auto;
}

#thetext-rendered p { margin-block: 1ex; }
#thetext-rendered hr { margin-block: 1em; }

#thetext-rendered pre, #thetext-rendered :not(pre) > code, #thetext-rendered kbd {
  font-size: 1em; font-family: Consolas, monospace, monospace;
  color: #bf8; background: #8228;
}
#thetext-rendered code, #thetext-rendered kbd {
  padding: 0 0.25ex; border-radius: 0.5ex;
}
#thetext-rendered kbd { border: #666 solid 1px; }
#thetext-rendered pre {
  width: fit-content; font-size: 80%; padding: 0.5ex;
  border: #111 solid 2px; border-radius: 1ex 0 0 0;
}
#thetext-rendered pre { margin: 5px 0; }
#thetext-rendered blockquote {
  font-size: 80%; font-style: italic; background: #4448;
  margin-left: 2em; padding: 0.5ex 0;
  border-left: 4px solid #333; border-radius: 0.5ex;
}

#thetext-rendered .sep {
  width: 100%; display: flex; align-items: center; text-align: center;
  margin: 1em 0; color: #777;
}
#thetext-rendered .sep::before, #thetext-rendered .sep::after {
  flex: 1; content: ''; border-bottom: 2px solid #777;
}
#thetext-rendered .sep:not(:empty)::before { margin-right: 1ex; }
#thetext-rendered .sep:not(:empty)::after  { margin-left:  1ex; }

#thetext-rendered { --li-indent: 3ex; }
#thetext-rendered ul { padding-inline-start: var(--li-indent); }
#thetext-rendered ul li { margin-top: 1ex; }
#thetext-rendered ul li > p { margin: 1ex auto; }
#thetext-rendered ul li.labeled::marker { content: ""; }
#thetext-rendered ul li.labeled { padding: 0 0.5ex; border-radius: 0.5ex; }
#thetext-rendered ul li.labeled label {
  display: block;
  width: 0;
  direction: rtl;
  margin-left: -0.3em;
  float: left;
}
#thetext-rendered ul li.labeled label > div {
  direction: ltr;
  width: fit-content;
  line-height: 75%;
  padding: 0.2em;
  border-radius: 0.5ex;
  border: 0.5px solid #84c5;
  background: #84c5;
  font-family: consolas, inconsolata, monospace;
  font-weight: bold;
  white-space: nowrap;
}

#log-container { height: 20ex; }
#log-container.input-mode { height: 10ex; }
#log { width: 80%; margin: auto; height: 20ex; overflow: hidden; }
#log > div   { background: none; overflow-y: hidden;
               padding: 2px; margin: 2px;
               transition: all 2s; animation: log-appearing linear 0.5s; }
#log > div.ok   { color: #cfc; background: #2624; }
#log > div.bad  { color: #fcc; background: #6224; }
#log > div.ok:first-child  { background: #262; }
#log > div.bad:first-child { background: #622; }
#log > div.send {
  color: #ccc;
  background: linear-gradient(45deg, #f000 42%, #0f0f 49%, #0f0f 51%, #f000 58%);
  background-size: 400% 100%;
  animation: log-appearing linear 0.5s, sending 2s linear infinite;
}
#log div.reuse-text { cursor: pointer; }
#log div.histtext {
  color: #8888; background: #0004;
  float: right; width: 50%; overflow-x: hidden; white-space: nowrap;
}
.fadeout {
  position: relative; z-index: 1; pointer-events: none;
  width: 100%; height: 10ex; top: -10ex;
  background-image: linear-gradient(to bottom, #0000, var(--page-bg) 90%);
}

#timer {
  background-color: #546; border: 4px solid #435; display: none;
  position: fixed; z-index: 999; right: 4%; bottom: 4%;
  margin: 0; padding: 0 1ex; overflow-x: hidden; white-space: nowrap;
  font-size: 400%; font-kerning: none; color: #ff0;
  text-shadow: 5px 5px 10px #000; box-shadow: 5px 5px 10px #000;
  opacity: 0; transition: opacity 1s, width 0.4s;
}
#timer div { margin-left: auto; float: right; white-space: nowrap; }
#timer.active { display: flex; }
#timer.over { animation: time-over linear 0.25s alternate infinite; }
#timer.active.big {
  font-family: Arial Black; font-size: 20vw; opacity: 1 !important;
  align-items: center; justify-content: center;
  width: unset !important; margin: 20px; left: 0; right: 0; top: 0; bottom: 0;
  text-shadow: 0px 0px 10px #f00, 0px 0px 10px #f00,
               10px 10px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
}
#timer.active.big div { margin: 0; }
#timer.over.big {
  font-family: Arial; animation: time-over-big step-end 1s normal infinite;
}

@keyframes log-appearing {
    0% { height: 0; }
  100% { height: 2ex; }
}
@keyframes sending {
    0% { background-position: 150% 50%; }
  100% { background-position: -50% 50%; }
}
@keyframes time-over {
    0% { background-color: #c46; }
   50% { background-color: #c46; }
  100% { background-color: #546; }
}
@keyframes time-over-big {
    0% { background-color: #110; }
    3% { background-color: #110; }  5% { background-color: #f46; }  7% { background-color: #110; }
    8% { background-color: #110; } 10% { background-color: #f46; } 12% { background-color: #110; }
   13% { background-color: #110; } 15% { background-color: #f46; } 17% { background-color: #110; }
   18% { background-color: #110; } 20% { background-color: #f46; } 22% { background-color: #110; }
   23% { background-color: #110; } 25% { background-color: #f46; } 27% { background-color: #110; }
   28% { background-color: #110; } 30% { background-color: #f46; } 32% { background-color: #110; }
   50% { background-color: #110; }
   53% { background-color: #110; } 55% { background-color: #46f; } 57% { background-color: #110; }
   58% { background-color: #110; } 60% { background-color: #46f; } 62% { background-color: #110; }
   63% { background-color: #110; } 65% { background-color: #46f; } 67% { background-color: #110; }
   68% { background-color: #110; } 70% { background-color: #46f; } 72% { background-color: #110; }
   73% { background-color: #110; } 75% { background-color: #46f; } 77% { background-color: #110; }
   78% { background-color: #110; } 80% { background-color: #46f; } 82% { background-color: #110; }
  100% { background-color: #110; }
}
